
html, body {
    font-size:small;
    /*overflow:hidden;*/
    margin:0 auto; /* center in viewport */
    width: 100%;
    min-height:100%;
    font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size:12px;
    background-color:#F5F5F5;
    padding: 0;
}

/* Links */
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a:link, a:visited, a.light {
    color: #309bbf;
}
a:hover, a:active, a.selected {
    color: #444;
}
textarea { border: 1px solid #b0ad9e; margin: 0; overflow: auto; padding: 0 2px;}
.ta_center{text-align: center!important;}
#body{min-width: 980px; max-width: 1320px; margin: 0 auto; padding: 0 10px;}

/* Header */
#hd {
    background-image:url(../images/panel_bg.png); background-repeat: repeat-x;
    background-color: #555555;
    color:#fff;
    -moz-box-shadow: 0px 5px 5px #ccc;
    -webkit-box-shadow: 0px 5px 5px #ccc;
    box-shadow: 0px 5px 5px #ccc;
}
/* Body */
#bd {
    min-height:500px;
}
/* Footer */
#ft {

}

#content {
    /*padding:10px;*/
    border:1px solid silver;
    background: #EEE;
}


/* Breadcrumbs, buttons, etc.. */
#navigation {
    /*background-image:url(../images/navi_bg.jpg);*/
    background-image:url('../images/header_bg.gif');
    /*background-color:silver;*/
    /*border-bottom:1px solid silver;*/
    margin:0 0 5px 0;
    height:38px;
    z-index:500;
}

#nav {
    z-index:501;
}

#navigation .navigation-content-left {
    margin:8px 0 0 10px;
}

#navigation .navigation-content-right {
    margin:6px 10px 0 0;

}

#navigation .navigation-content a {
    font-size:11px;
}

#topMenu {
    cursor:pointer;
    margin:5px 0 0 10px;
}

.sidebarBlock {
    margin-top:15px;
    background:#F3F3F3;
}

.sidebarBlock h3 {
    /*background:#E0E0E0;*/
    /*background:#5C5C5C;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:7px 0 7px 7px;
    margin:0;
    background: #DFE2E4;
    background: -moz-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6ECEF), color-stop(99%,#D0D6DA));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6ECEF', endColorstr='#D0D6DA',GradientType=0 );
    zoom: 1;
}

#sidebar .sidebarBlock .blockContent {
    border:1px solid #E0E0E0;
    padding:5px;
}

#sidebar .sidebarBlock input[type=text], .sidebarBlock select {
    width:200px;
}
#adminMenu{text-align: left; overflow: hidden;}
#adminMenu ul{margin: 0;}
#adminMenu a{display: inline-block;padding: 6px 8px; color: #fff; font-size: 11px; line-height: 14px;}
#parents{clear: both; overflow: hidden;}
#parents li{display: inline-block;  float: left;}
#parents li.active{background: #555;}
#parents li:hover{background: #474747;}
#childs{overflow: hidden;}
#childs li{display: inline-block; float: left;}
#childs li.active{display: inline-block; font-weight: bold;   }
#childs li.active:hover, #childs li.active a:hover {cursor: default;   }
#childs li.active a, #childs li:hover a{padding: 0px; border-bottom: 1px solid #fff; margin: 6px 8px;}
#childs li:hover a{ }






#topRightMenu {
    text-align:right;
    margin-top:5px;
}

#topRightMenu a {
    color:#A2A2A2;
    padding:4px;
    font-size:11px;
}
#topRightMenu a:hover {
    color:#fff;
}

select {
    font-size:12px;
}

.variantsTable thead tr td {
    padding: 5px;
}
.variantsTable tr td {
    padding: 3px;
}
.variantsTable tr td input[type=text]{
    /*width: 90%;*/
}
.items .filters .hasDatepicker {
    background-image: url(../images/player_time.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}

#topSearchBox {
    border: 1px solid #5D5D5D;
    background-color: #848484;
    outline: 0;
    font-size: 12px;
    padding: 1px 1px 1px 18px;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 2px 50%;
    width: 70px;
    margin-right: 10px;
    opacity: 0.5;
    -o-transition:width 0.3s ease-in-out;
    -ms-transition:width 0.3s ease-in-out;
    -moz-transition:width 0.3s ease-in-out;
    -webkit-transition:width 0.3s ease-in-out;
}
#topSearchBox:focus {
    background-color: #dddddd;
    color: #535353;
    width: 160px;
    opacity: 1;
}

#topSearchForm {
    width: 200px;
    float: none;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.circle_label {
    font-size: 11px;
    background-color: #b94a48;
    border-radius: 9px;
    padding: 2px;
    min-width: 14px;
    float: right;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    vertical-align: baseline;
    margin-left: -3px;
    cursor: pointer;
    display: none;
    margin-top: 3px;
}
.small-footer-text {
    text-align: center;
    color: #a6a6a8;
    font-size: 11px;
}
.small-footer-text a {
    color: #79797f
}

table.orderHistory span.date {
    color: #969696;
    font-size: 11px;
}
table.orderHistory thead {
    font-weight: bold;
}
table.orderHistory tr td {
    border: 1px solid #c0c0c0;
}
table.orderHistory tbody tr:hover {
    background-color: #cfd6e3;
    cursor: pointer;
}
table.orderHistory tr td {
    padding: 5px;
    vertical-align: top;
}
table.orderHistory tr.even {
    background: #F9F9F9;
}

.grid-view{ text-align: left;}

.grid-view table.items {border-collapse: separate; border-color: #cdcdcd;}
.grid-view table.items thead{background: #e8e8e8;}
.grid-view table.items th
{
    color: black; border: none; border-collapse: separate; text-align: left; padding: 8px 5px 0;
    /*	background: url("bg.gif") repeat-x scroll left top white;*/
    background: #E8E8E8;
    background:linear-gradient(top , #F1F1F1 0px, #E8E8E8 100%);
    background:-o-linear-gradient(top , #F1F1F1 0px, #E8E8E8 100%);
    background:-moz-linear-gradient(top , #F1F1F1 0px, #E8E8E8 100%);
    background:-webkit-linear-gradient(top , #F1F1F1 0px, #E8E8E8 100%);
    background:-ms-linear-gradient(top , #F1F1F1 0px, #E8E8E8 100%);
}


.grid-view {padding: 9px 0 0;}
.grid-view .pager{margin: 10px 0 9px 5px; text-align: left; float: left;}
.grid-view .pager:first-child{margin: 5px 0 9px 5px;}
.grid-view .summary { margin: 10px 5px; text-align: right; }
.grid-view .yiiPager .previous, .grid-view .yiiPager .next { display: none;}
.grid-view ul.yiiPager a { border-color: #999!important; color: #444; font-weight: bold; border-radius: 3px;}
.grid-view ul.yiiPager a .ui-button-text{ padding: 0;}
.grid-view ul.yiiPager .selected a { background: #444; color: #fff; border-color: #444!important;}
.grid-view ul.yiiPager .selected a:hover { cursor: default;}
#yw0_c1{text-align: center; width: 30px;}
.grid-view table.items th, .grid-view table.items td {font-size: 1em;}
.grid-view table.items th{ border-right:1px solid #cdcdcd; border-collapse: separate;}
.grid-view table.items th a{ color: black; font-weight: bold; text-decoration: none;}
.grid-view table.items th a:hover{ color: black;}
.grid-view table.items tr.odd { background: #f0f0f2;}
.grid-view table.items tr:hover { background: #fffedf!important;}
.grid-view table.items td{  border-collapse: separate; padding: 2px 5px; border-bottom:1px solid #bbbbbb; border-right:1px solid #cdcdcd; height: 24px;}
.grid-view table.items .filters td{ border-top: none!important; border-left: none!important; }
.grid-view table.items td.display{ text-align: center;}
.grid-view table.items td .delete{ display: inline-block;}
.grid-view table.items .id{ font-weight: bold ; color: #676767 ; text-align: center;}
.grid-view table.items td input { border: 1px solid #b3b3b3; color: #333; margin: 0; font: 12px/13px Arial; height: 24px; padding: 0 0 0 3px;}
.grid-view .button-column {width: 24px;}
.grid-view .button-column img {display: inline-block; position: relative; top: 2px;}
.grid-view .boolean {text-align: center;}
.grid-view .img {text-align: center;}
.grid-view .img img{max-height: 50px; max-width: 70px;}
.grid-view .boolean a, .grid-view .display a {background-repeat: no-repeat;background-position: 50% 50%; display: inline-block; width: 24px; height: 24px;}
.grid-view .boolean .active {background-image: url("/css/yes.png");}
.grid-view .boolean .non-active {background-image: url("/css/minus.png");}
.grid-view .display .active {background-image: url("/css/display.png");}
.grid-view .display .non-active {background-image: url("/css/nodisplay.png");}
.grid-view .display img {visibility: hidden;}
.grid-view .button.create{float: right; display: inline-block; color: #444444; margin: 0 10px 10px 0; border: 1px solid #999;}
.grid-view .items .create{background-image: url("/css/plus1.png"); background-repeat: no-repeat;background-position: 50% 50%; display: inline-block; width: 24px; height: 24px;}

.grid-view .filters{background: #E8E8E8;}
.grid-view table.items tr.filters:hover{background: #E8E8E8!important;}
.grid-view .filters td{border-top: none!important; height: 14px!important; padding-bottom: 5px!important;}
/*.grid-view .filters td:hover{border-color: #E8E8E8!important;}*/

.grid-view .filters input, .grid-view .filters select {width: 99%; height: 16px!important;}
.grid-view .filters .filter_display, .grid-view .filters .filter_boolean  {width: 40px; padding-left: 2px!important; padding-right: 2px!important;}
.grid-view .filters .filter_display select, .grid-view .filters .filter_boolean select{width: 52px; height: 16px!important; display: inline-block;}
.grid-view .filters .filter_display option, .grid-view .filters .filter_boolean option{padding: 0 1px 1px;}

.update{padding: 10px; text-align: left;}
.update h1{font: 17px Arial;}
.update .form{margin: 10px 0; border: 1px solid #999; background: #ddd; border-radius: 5px; padding: 10px 0 10px 13px; overflow: hidden;}
.update .form form{width: 100%;}
.update .note{}
.update .row{ float: left; min-height: 52px;}
.update .required{ font-weight: bold;}
.update span.required{ color: #ff0000; position: relative; left: -4px;}
.update label{display: block; height: 15px; margin: 0; overflow: hidden; padding: 0 0 2px;}
.update .input{}
.update .input label{}
.update .input div{padding: 0 19px 0 0;}
.update .input input{ border: 1px solid #b3b3b3; clear: both; color: #333; font: 12px/25px Arial;
    height: 25px; margin: 0; padding: 0 0 0 4px; width: 100%;}
.update .row.checkbox{height: 52px;}
.update .checkbox label { display: inline-block; margin: 20px 0 0; padding: 2px 19px 2px 0;}
.update .checkbox input {float: left; margin: 2px 5px 0 0; padding: 0; width: 15px;}
.update .checkbox div {float: left; margin: 20px 0 0; padding: 2px 0px 2px 0;}
.update .select{}
.update .select div{background: #fff; border: 1px solid #b3b3b3; height: 21px; margin: 0 13px 0 0; padding: 3px 3px 0 0;}
.update .select select{border: none; color: #333; font: 12px/14px Arial; height: 18px; margin: 0; padding: 0; width: 100%;}

.update .row.textarea{padding: 0 0 4px;}
.update .textarea div{padding: 0 19px 4px 0;}
.update .textarea textarea{color: #333;  font: 12px/14px Arial;  height: 150px;  margin: 0;  padding: 2px; width: 100%;}
.update .elrte>div{padding: 0 19px 10px 0;}
.update .elrte textarea{color: #333;  font: 12px/14px Arial;  margin: 0;  padding: 2px; width: 100%;  height: 150px;}
.update .elrte .hint a{color: #777; font-weight: bold;}
.update .elrte .hint a:hover{color: #333;}
/*.update .c1{width: 78px;}
.update .c2{width: 156px;}
.update .c3{width: 234px;}
.update .c4{width: 312px;}
.update .c5{width: 390px;}
.update .c6{width: 468px;}
.update .c7{width: 546px;}
.update .c8{width: 624px;}
.update .c9{width: 702px;}
.update .c10{width: 780px;}
.update .c11{width: 858px;}
.update .c12{width: 936px;}*/

.update .c1{width: 8%;}
.update .c2{width: 16%;}
.update .c3{width: 24%;}
.update .c4{width: 32%;}
.update .c5{width: 40%;}
.update .c6{width: 48%;}
.update .c7{width: 56%;}
.update .c8{width: 64%;}
.update .c9{width: 72%;}
.update .c10{width: 80%;}
.update .c11{width: 88%;}
.update .c12{width: 96%;}

.update .buttons{clear: both;}
.update .form input[type="text"]:focus, .update .form input[type="password"]:focus, .update .form textarea:focus {
    border-color: rgba(51, 96, 160, 0.80);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(174, 253, 255, 0.60);
    transition: all 0.2s linear 0s;
}


.el-rte {}